.project-content {
    padding-left: 5%;
    padding-right: 5%;
}
.skills-list {
    margin: 5px;
}
.skills-list-wrapper {
    display: flex;

}
.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
.skills-chip{
    flex: 1;
    flex-wrap: wrap;
    margin: 5px;
    height: 40px;
    font-size: 22px;
    font-family: 'Syne', sans-serif;
    justify-content: center;
   
}.skills-chip:hover{
    background-color: #FF4081 !important;
    transition-duration: .5s;
}
.card-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 40px;
 }
 .project-card {
  
    font-family: 'Syne', sans-serif;
    
  }
.project-card-selected {
    font-family: 'Syne', sans-serif;
    color: #3F51B5 !important;
    box-shadow: 7px 10px #3f51b5a1;
}
.chip-list {
    margin: 5px;
}
.chip-list-wrapper {
    margin-left: 10px;
    display: flex;
    
}
.chip{
    background-color: #445bda71 !important;
}
.title {
    font-weight: 500;
    font-family: 'Syne', sans-serif;
}
.arrow {
    margin-left: 200px;
}