<mat-card class="education-card-container">
    <mat-card-header>
        <img mat-card-image class="image-psu" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/v1469289260/b6w01auw0em9f3oxw736.png" alt="psu-logo">
      <mat-card-title-group>
        <mat-card-title class="title"> {{ education.school }} </mat-card-title>
        <mat-card-subtitle> {{ education.duration }} </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
   

    <mat-card-content class="card-content">
        {{ education.GPA }}
        {{ education.description}}
    </mat-card-content>
  </mat-card>
  

  