.toolbar {
    top: 0;
  position: fixed;
    opacity: 80%;
    z-index: 1;
  }
  
  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
.container{
    display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
    margin: 75px;
    column-gap: 20px;
}
.about-container{
}
.heading {
    font-family: 'Syne', sans-serif;
    font-size: 70px;
    color: #3F51B5;
}
.about-blurb {
    font-family: 'Syne', sans-serif;
    margin-left: 10px;
    color: #3F51B5;
}
.iframe{
    height: 100%;
    width: 100%;

}