<div class="card-container">
  <mat-card class="education-card-container">
    <mat-card-header>
        <img mat-card-image class="image-psu" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/v1469289260/b6w01auw0em9f3oxw736.png" alt="psu-logo">
      <mat-card-title-group>
        <mat-card-title class="title">Pennsylvania State University </mat-card-title>
        <mat-card-subtitle> University Park, PA<br> September 2020 - May 2024</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
   

    <mat-card-content class="card-content">
      <br>
      <span class="content-emphasis">B.S. Information Sciences and Technology; Human-Centered Design and Development (HCDD);</span>
        <br>
        Focus Area in Data Sciences
        <br>
        GPA: 3.89
        <br>
        Dean's List 5 consecutive semesters
    <br><br>
    Organizations
    <br>
    - Association of Women in Computing (AWE) (Jan 2021-present)
    <br>
    - PSU Trilogy (THON organization) (Jan 2021-present)
    <br>
    - UXPA (Sep 2021-present)
    <br>
    - Gamma Tau Phi: IST Honor Society (Feb 2022-present)
</mat-card-content>
  </mat-card>

  <mat-card class="education-card-container">
    <mat-card-header>
        <img mat-card-image class="image-hs" src="https://schoolassets.s3.amazonaws.com/logos/2104/2104.png" alt="hs-logo">
      <mat-card-title-group>
        <mat-card-title class="title">Plymouth Whitemarsh High School </mat-card-title>
        <mat-card-subtitle> Plymouth Meeting, PA<br>September 2016 - June 2020</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
   

    <mat-card-content class="card-content">
      <br>
      <span class="content-emphasis">High School Diploma</span>
      <br>
      <br>
        GPA: 4.25
    <br><br>
    Organizations
    <br>
    - Technology Student Association
    <br>
    - Principal Advisory Board
    <br>
    - Student Council
    <br>
    - Varsity Field Hockey
    <br>
  
</mat-card-content>
  </mat-card>
</div>

  

  