<div class="about-container">
    <h1 class="heading">Casey Sharpe</h1>
    <div class="about-info">
        <p class="about-blurb">Hi! I am a Software Developer pursuing a degree in Human-Centered Design and Development at Penn State. <br> My unique combination of technical and creative skills allow me to solve complex technical problems with user-first solutions. I am always seeking new challenges and opportunities to learn and enhance my skills.</p> 
          <div class="headshot-wrapper">
            <img mat-card-image class="rounded" src="../../assets/headshot.png" alt="headshot">
          </div>
      </div>
    </div>
   


