.example-card {
    max-width: 400px;
    margin: 8px;
    padding: 12px;
    font-family: 'Syne', sans-serif;

  }
  .chip-list {
    margin: 5px;
}
.chip-list-wrapper {
    margin-left: 10px;
    display: flex;
    
}
.chip{
    background-color: #445bda71 !important;
   
}
.title {
    color:#3F51B5;
    font-weight: 500;
    font-family: 'Syne', sans-serif;
}
.arrow {
    padding-right: 0%;
    margin-left: 250px;
}