.toolbar {
    top: 0;
  position: fixed;
    opacity: 80%;
    z-index: 1;
}

.example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

 .content {
     width: 100%;
     height: 100%;
 }

